<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bug Bank</title>
    <link type="text/css" rel="stylesheet" href="/public/css/indexCss.css" />
    <link rel="stylesheet" href="/public/font-awesome/css/font-awesome.min.css">
    <link href="/public/dist/hamburgers.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div class="header-wrapper nav-down">
        <div class="header">
            <div class="header-container">
                <div class="header-left">
                    <button class="hamburger hamburger--slider" type="button" id="header-toggle-sidebar">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                    <div class="header-logos-wrapper">
                        <div class="header-logos">
                            <img src="/Public/Imagens/CurseIcon.svg" class="header-logos-curse" draggable="false" />
                            <img src="/Public/Imagens/BugBank.svg" class="header-logos-bug" draggable="false" />
                        </div>
                    </div>
                </div>
                <div class="header-center">
                    <nav class="navbar">
                        <a href="/" class="navbar-item">Explorar</a>
                        <a href="/loginpage" class="navbar-item">Criar um Bug</a>
                        <a href="/loginpage" class="navbar-item">Gerenciar Bugs</a>
                    </nav>
                    <form id="search-form" method="get" action="/login">
                        <span class=" search-bar-icon fa fa-search"></span>
                        <input class="header-search-bar" type="text" placeholder="Pesquisar.."/>
                        <button type="reset" class="search-clear-button">
                            <span class="fa fa-close"></span>
                        </button>
                    </form>
                </div>
                <div class="header-right">
                    <div class="header-search">
                    </div>
                    <button type="button" class="header-search-button header-buttons"><span class="fa fa-search"></span></button>
                    <button type="button" class="header-signin-button header-buttons"><span class="fa fa-sign-in"></span></button>
                    <a href="/perfil" class="header-profile-button header-buttons"><span class="fa fa-circle"></span></a>
                    <button type="button" class="header-notification-button header-buttons"><span class="fa fa-bell"></span></button>
                </div>
            </div>
            <div class="header-complement-wrapper">
                <div class="header-complement">
                    <div class="header-search-mobile">
                        <form id="search-form" method="get" action="/login">
                            <span class="search-bar-icon fa fa-search"></span>
                            <input class="header-search-bar" type="text" placeholder="Pesquisar..">
                            <button type="reset" class="search-clear-button">
                                <span class="fa fa-close"></span>
                            </button>
                        </form>
                        <button type="button" class="header-cancel-button" disabled>CANCEL</button>
                    </div>
                </div>
            </div>
            <div class="login-wrapper fade">
                <!--<img src="../Public/Imagens/modal.svg" class="login-shape"/>-->
                <div class="login-modal">
                    <div class="login-modal-switch">
                        <label class="form-select-container">
                            <input type="radio" checked="checked" name="radio">
                            <span class="form-select-button" id="login-form-button">Login</span>
                        </label>
                        <label class="form-select-container">
                            <input type="radio" name="radio">
                            <span class="form-select-button" id="signup-form-button">Sign Up</span>
                        </label>
                    </div>

                    <div class="login-modal-content">
                        <form id="login-form" method="get" action="/login">
                            <div class="login-modal-item">
                                <label for="login-form-username" class="login-form-label">Username</label>
                                <input type="text" id="login-form-username" class="login-form-input" name="login-form-username">
                            </div>
                            <div class="login-modal-item">
                                <label for="login-form-password" class="login-form-label">Password</label>
                                <input type="password" id="login-form-password" class="login-form-input" name="login-form-password">
                            </div>
                            <div class="login-modal-submit">
                                <input type="submit" class="login-form-submit" value="Log In">
                            </div>
                        </form>

                        <form id="signup-form" class="nodisplay" method="post" action="/register">
                            <div class="login-modal-item">
                                <label for="signup-form-email" class="login-form-label">E-mail</label>
                                <input type="email" id="signup-form-email" class="login-form-input" name="signup-form-email">
                            </div>
                            <div class="login-modal-item">
                                <label for="signup-form-username" class="login-form-label">Username</label>
                                <input type="text" id="signup-form-username" class="login-form-input" name="signup-form-username">
                            </div>
                            <div class="login-modal-item">
                                <label for="signup-form-password" class="login-form-label">Password</label>
                                <input type="password" id="signup-form-password" class="login-form-input" name="signup-form-password">
                            </div>
                            <div class="login-modal-item">
                                <label for="signup-form-repeat" class="login-form-label">Repeat Password</label>
                                <input type="password" id="signup-form-repeat" class="login-form-input" name="signup-form-repeat">
                            </div>
                            <div class="login-modal-submit">
                                <input type="submit" class="login-form-submit" value="Register">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!------------------------------------------------------SIDEBAR------------------------------------------------------------------------>
        <div class="sidebar-wrapper">
            <div class="sidebar-container">
                <div class="sidebar-scroller">
                    <div class="sidebar-lists">
                        <ul class="sidebar" id="lista-bugs"></ul>
                    </div>
                </div>
            </div>
        </div>
<!-------------------------------------------------------------- CRIAR BUG ----------------------------------------------------------------------->
<div class="content-wrapper create-bug">
    <form class="formulario" autocomplete="off">
      <div class="create-bug-content">
        <label for="create-bug-title" class="create-bug-label">Título do Projeto: </label>
        <input type="text" id="create-bug-title" class="create-bug-input" name="create-bug-title"><br>
        <label for="create-description" class="create-bug-label">Descrição: </label><textarea class="textarea" cols="35" rows="8"></textarea><br>
        <label for="create-category" class="create-bug-label">Categoria: </label>
        <input type="text" id="create-category" class="create-bug-input category" name="create-bug-title"><br>
    </div>
    <div class="submit">
    <input class="btn_submit" type="submit" value="Upload">
    <input class="btn_submit" type="submit" value="Enviar">
    </div>
    </form>
</div>  


<div class="login-modal-content">
    <form id="login-form" method="get" action="/login">
        <div class="login-modal-item">
            <label for="login-form-username" class="login-form-label">Username</label>
            <input type="text" id="login-form-username" class="login-form-input" name="login-form-username">
        </div>
        <div class="login-modal-item">
            <label for="login-form-password" class="login-form-label">Password</label>
            <input type="password" id="login-form-password" class="login-form-input" name="login-form-password">
        </div>
        <div class="login-modal-submit">
            <input type="submit" class="login-form-submit" value="Log In">
        </div>
    </form>