<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>rafael pignataro</title>
    <link type="text/css" rel="stylesheet" href="../public/css/indexCss.css" />
</head>
<body>
    <div id="app" class="bugbank">
        <div class="sidebar-container">
            <div class="sidebar">

                <div class="sidebar-logos">

                </div>

                <div class="sidebar-selector">

                </div>

                <div class="sidebar-lists">
                    <div class="sidebar-list-bugs">
                        <a href="#">content</a>
                    </div>

                    <div class="sidebar-list-contribs">

                    </div>

                </div>

            </div>

        </div>
        <div class="header-container">
            <div class="header">
                <div class="header-logo">

                </div>

            </div>
        </div>

    </div>
</body>
</html>