<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Bug Bank</title>
    <link type="text/css" rel="stylesheet" href="../public/css/indexCss.css" />
</head>
<body>
    <div class="bugbank">
        <!-------------------------------------------------------HEADER------------------------------------------------------------------------>
        <div class="header-container">
            <div class="header">
                <div class="header-block">
                    <div class="sidebar-logos">
                        <img id="BugBank" src="../Public/Imagens/BugBank.svg" class="sidebar-logos-bug"/>
                        <img id="CurseIcon" src="../Public/Imagens/CurseIcon.svg" class="sidebar-logos-curse"/>
                    </div>
                </div>
                <div class="header-menu">
                    <div class="header-menu-item" id="header-menu-item-not-final">
                        <a href="#">Explorar</a>
                    </div>
                    <div class="header-menu-item" id="header-menu-item-not-final">
                        <a href="#">Criar um Bug</a>
                    </div>
                    <div class="header-menu-item">
                        <a href="#">Gerenciador de Bugs</a>
                    </div>
                </div>
                <div class="header-search">
                    <input class="header-search-bar" type="text" placeholder="Pesquisar..">
                </div>
                <div class="header-tools">
                    <div class="header-tools-item">
                        <a href="#"><img src="../Public/Imagens/notification-clear.svg" class="header-tools-item-notif" /></a>
                    </div>
                    <div class="header-tools-item">
                        <a href="#"><img src="../Public/Imagens/circle.svg" class="header-tools-item-notif" /></a>
                    </div>
                    <div class="header-tools-item">
                        <a href="#"><img src="../Public/Imagens/settings.svg" class="header-tools-item-notif" /></a>
                    </div>
                </div>
                <div>
                    <ul id="menu">
                        <li>
                            <input id="DropBtn" type="checkbox" />
                            <label for="DropBtn"><img src="../Public/Imagens/circle.svg" alt="" height="35" width="35"></label>
                            <ul class="submenu">
                                <li><a style="height:30px" href="#"><img src="../Public/Imagens/notification-clear.svg" class="header-tools-item-notif" /></a></li>
                                <li><a style="height:30px" href="#"><img src="../Public/Imagens/circle.svg" class="header-tools-item-notif" /></a></li>
                                <li><a style="height:30px" href="#"><img src="../Public/Imagens/settings.svg" class="header-tools-item-notif" /></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                </div>
        </div>
        <!-------------------------------------------------------SIDEBAR----------------------------------------------------------------------->
        <div class="sidebar-container">
            <div class="sidebar-scroller">
                <div class="sidebar">
                    <div class="sidebar-lists">
                        <div class="sidebar-list-title noselection">
                            MEUS BUGS
                        </div>
                        <div class="sidebar-list-bugs">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div class="sidebar-list-item">
                                            <img src="../Public/Imagens/circle.svg" class="sidebar-list-item-category" />
                                            <div class="sidebar-list-item-name">Projeto 1</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="sidebar-list-item">
                                            <img src="../Public/Imagens/circle.svg" class="sidebar-list-item-category" />
                                            <div class="sidebar-list-item-name">Projeto 2</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-list-title noselection">
                            MINHAS CONTRIBUIÇÕES
                        </div>
                        <div class="sidebar-list-contribs">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div class="sidebar-list-item ">
                                            <img src="../Public/Imagens/circle.svg" class="sidebar-list-item-category" draggable="false" />
                                            <span class="sidebar-list-item-name">Projeto 3</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="sidebar-list-item">
                                            <img src="../Public/Imagens/circle.svg" class="sidebar-list-item-category" />
                                            <div class="sidebar-list-item-name">Projeto 4</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-------------------------------------------------------CONTENT----------------------------------------------------------------------->
        <div style="background-color:yellow"></div>
    </div>

</body>
</html>