<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bug Bank</title>
    <link type="text/css" rel="stylesheet" href="../public/css/indexCss.css" />
    <link rel="stylesheet" href="../public/font-awesome/css/font-awesome.min.css">
    <link href="../public/dist/hamburgers.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body id="body">
    <div class="bugbank">
        <!------------------------------------------------------HEADER------------------------------------------------------------------------>
        <div class="header-wrapper nav-down">
            <div class="header">
                <div class="header-container">
                    <div class="header-left">
                        <button class="hamburger hamburger--slider" type="button" id="header-toggle-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                        <div class="header-logos-wrapper">
                            <div class="header-logos">
                                <img src="../Public/Imagens/CurseIcon.svg" class="header-logos-curse" draggable="false" />
                                <img src="../Public/Imagens/BugBank.svg" class="header-logos-bug" draggable="false" />
                            </div>
                        </div>
                    </div>
                    <div class="header-center">
                        <nav class="navbar">
                            <a href="" class="navbar-item">Explorar</a>
                            <a href="" class="navbar-item">Criar um Bug</a>
                            <a href="" class="navbar-item">Gerenciar Bugs.</a>
                        </nav>
                        <form id="search-form" method="get" action="/login">
                            <span class=" search-bar-icon fa fa-search"></span>
                            <input class="header-search-bar" type="text" placeholder="Pesquisar..">
                            <button type="reset" class="search-clear-button">
                                <span class="fa fa-close"></span>
                            </button>
                        </form>
                    </div>
                    <div class="header-right">
                        <div class="header-search">
                        </div>
                        <button type="button" class="header-search-button header-buttons"><span class="fa fa-search"></span></button>
                        <button type="button" class="header-profile-button header-buttons"><span class="fa fa-circle"></span></button>
                        <button type="button" class="header-signin-button header-buttons"><span class="fa fa-sign-in"></span></button>
                    </div>
                </div>
                <div class="header-complement-wrapper">
                    <div class="header-complement">
                        <div class="header-search-mobile">
                            <form id="search-form" method="get" action="/login">
                                <span class="search-bar-icon fa fa-search"></span>
                                <input class="header-search-bar" type="text" placeholder="Pesquisar..">
                                <button type="reset" class="search-clear-button">
                                    <span class="fa fa-close"></span>
                                </button>
                            </form>
                            <button type="button" class="header-cancel-button" disabled>CANCEL</button>
                        </div>
                    </div>
                </div>
                <div class="login-wrapper fade">
                    <div class="login-modal">
                        <div class="login-modal-switch">
                            <label class="form-select-container">
                                <input type="radio" checked="checked" name="radio">
                                <span class="form-select-button" id="login-form-button">Login</span>
                            </label>
                            <label class="form-select-container">
                                <input type="radio" name="radio">
                                <span class="form-select-button" id="signup-form-button">Sign Up</span>
                            </label>
                        </div>

                        <div class="login-modal-content">
                            <form id="login-form" method="get" action="/login">
                                <div class="login-modal-item">
                                    <label for="login-form-username" class="login-form-label">Username</label>
                                    <input type="text" id="login-form-username" class="login-form-input" name="login-form-username">
                                </div>
                                <div class="login-modal-item">
                                    <label for="login-form-password" class="login-form-label">Password</label>
                                    <input type="password" id="login-form-password" class="login-form-input" name="login-form-password">
                                </div>
                                <div class="login-modal-submit">
                                    <input type="submit" class="login-form-submit" value="Log In">
                                </div>
                            </form>

                            <form id="signup-form" class="nodisplay" method="post" action="/register">
                                <div class="login-modal-item">
                                    <label for="signup-form-email" class="login-form-label">E-mail</label>
                                    <input type="email" id="signup-form-email" class="login-form-input" name="signup-form-email">
                                </div>
                                <div class="login-modal-item">
                                    <label for="signup-form-username" class="login-form-label">Username</label>
                                    <input type="text" id="signup-form-username" class="login-form-input" name="signup-form-username">
                                </div>
                                <div class="login-modal-item">
                                    <label for="signup-form-password" class="login-form-label">Password</label>
                                    <input type="password" id="signup-form-password" class="login-form-input" name="signup-form-password">
                                </div>
                                <div class="login-modal-item">
                                    <label for="signup-form-repeat" class="login-form-label">Repeat Password</label>
                                    <input type="password" id="signup-form-repeat" class="login-form-input" name="signup-form-repeat">
                                </div>
                                <div class="login-modal-submit">
                                    <input type="submit" class="login-form-submit" value="Register">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------------SIDEBAR------------------------------------------------------------------------>
        <div class="sidebar-wrapper">
            <div class="sidebar-container">
                <div class="sidebar-scroller">
                    <div class="sidebar-lists">
                        <ul class="sidebar" id="lista-bugs">
                            <li id="sidebar-list-title" class="noselection">
                                MEUS BUGS
                            </li>
                            <li>
                                <a href="#">
                                    <div class="sidebar-list-item">
                                        <img src="../Public/Imagens/circle.svg" class="sidebar-list-item-category" />
                                        <div class="sidebar-list-item-name">Projeto 1</div>
                                        <img src="../Public/Imagens/NEW.svg" class="item-notification"/>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="sidebar-list-item">
                                        <img src="../Public/Imagens/circle.svg" class="sidebar-list-item-category" />
                                        <div class="sidebar-list-item-name">Projeto 2</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="sidebar-list-item">
                                        <img src="../Public/Imagens/circle.svg" class="sidebar-list-item-category" />
                                        <div class="sidebar-list-item-name">Projeto 3</div>
                                    </div>
                                </a>
                            </li>
                        </ul>

                        <ul class="sidebar" id="lista-contribs">
                            <li id="sidebar-list-title" class="noselection">
                                MINHAS CONTRIBUIÇÕES
                            </li>
                            <li>
                                <a href="#">
                                    <div class="sidebar-list-item">
                                        <img src="../Public/Imagens/circle.svg" class="sidebar-list-item-category" />
                                        <div class="sidebar-list-item-name">Projeto 4</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="sidebar-list-item">
                                        <img src="../Public/Imagens/circle.svg" class="sidebar-list-item-category" />
                                        <div class="sidebar-list-item-name">Projeto 5</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="sidebar-list-item">
                                        <img src="../Public/Imagens/circle.svg" class="sidebar-list-item-category" />
                                        <div class="sidebar-list-item-name">Projeto 6</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="sidebar-list-item">
                                        <img src="../Public/Imagens/circle.svg" class="sidebar-list-item-category" />
                                        <div class="sidebar-list-item-name">Projeto 7</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="sidebar-list-item">
                                        <img src="../Public/Imagens/circle.svg" class="sidebar-list-item-category" />
                                        <div class="sidebar-list-item-name">Projeto 8</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="sidebar-list-item">
                                        <img src="../Public/Imagens/circle.svg" class="sidebar-list-item-category" />
                                        <div class="sidebar-list-item-name">Projeto 9</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="sidebar-list-item">
                                        <img src="../Public/Imagens/circle.svg" class="sidebar-list-item-category" />
                                        <div class="sidebar-list-item-name">Projeto 10</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="sidebar-list-item">
                                        <img src="../Public/Imagens/circle.svg" class="sidebar-list-item-category" />
                                        <div class="sidebar-list-item-name">Projeto 11</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="sidebar-list-item">
                                        <img src="../Public/Imagens/circle.svg" class="sidebar-list-item-category" />
                                        <div class="sidebar-list-item-name">Projeto 12</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="sidebar-list-item">
                                        <img src="../Public/Imagens/circle.svg" class="sidebar-list-item-category" />
                                        <div class="sidebar-list-item-name">Projeto 13</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="sidebar-list-item">
                                        <img src="../Public/Imagens/circle.svg" class="sidebar-list-item-category" />
                                        <div class="sidebar-list-item-name">Projeto 14</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="sidebar-list-item">
                                        <img src="../Public/Imagens/circle.svg" class="sidebar-list-item-category" />
                                        <div class="sidebar-list-item-name">Projeto 15</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------------CONTENT------------------------------------------------------------------------>
        <div class="content-wrapper">
            <div class="content">
                <div class="perguntas-header">
                    <div class="perguntas-header-titulo">Todos os Bugs</div>
                    <div class="perguntas-filtros-container">
                        <div class="perguntas-filtros" style="padding-left:0">
                            <div class="perguntas-filtros-dropdown">
                              <button class="perguntas-filtros-btn" id="perguntas-filtros-btn-1">CATEGORIA: 
                                  <b id="perguntas-filtros-label-1" data-id="todas">TODAS</b>
                                  <input type="checkbox" id="perguntas-filtro-1" class="perguntas-filtro-check">
                                  <span class="fa fa-chevron-down perguntas-filtros-arrow"></span>
                                  <div class="perguntas-filtros-dropdown-content" id="perguntas-filtro-1-dropdown">
                                     <a href="#" data-target="perguntas-filtros-label-1" data-id="todas">TODAS</a>
                                     <a href="#" data-target="perguntas-filtros-label-1" data-id="node">NODE</a>
                                     <a href="#" data-target="perguntas-filtros-label-1" data-id="react">REACT</a>
                                     <a href="#" data-target="perguntas-filtros-label-1" data-id="angular">ANGULAR</a>
                                     <a href="#" data-target="perguntas-filtros-label-1" data-id="javascript">JAVASCRIPT</a>
                                  </div>
                              </button>
                            </div>
                        </div>
                        <div class="perguntas-filtros">
                            <div class="perguntas-filtros-dropdown">
                              <button class="perguntas-filtros-btn" id="perguntas-filtros-btn-2">ORDENAR:  
                                  <b id="perguntas-filtros-label-2" data-id="recente">RECENTE</b>
                                  <input type="checkbox" id="perguntas-filtro-2" class="perguntas-filtro-check">
                                  <span class="fa fa-chevron-down perguntas-filtros-arrow"></span>
                                  <div class="perguntas-filtros-dropdown-content" id="perguntas-filtro-2-dropdown">
                                     <a href="#" data-target="perguntas-filtros-label-2" data-id="recente">RECENTE</a>
                                     <a href="#" data-target="perguntas-filtros-label-2" data-id="popularidade">POPULARIDADE</a>
                                     <a href="#" data-target="perguntas-filtros-label-2" data-id="az">A-Z</a>
                                     <a href="#" data-target="perguntas-filtros-label-2" data-id="za">Z-A</a>
                                  </div>
                              </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="perguntas" id="projects">
                    
                </div>
            </div>
        </div>
    <!----------------------------------------------------------MOBILE------------------------------------------------------------------------->
    <script>
        var $hamburger = $(".hamburger");
        $hamburger.on("click", function () {
            $hamburger.toggleClass("is-active");
            $(".sidebar-wrapper").toggleClass('sidebar-wrapper-after');
            $(".content").toggleClass('noscroll');

            // Do something else, like open/close menu
        });

        var $headersearchbutton = $(".header-search-button");
        $headersearchbutton.on("click", function () {
            $(".header-complement").toggleClass('header-complement-after');
            $(".header-search-mobile").toggleClass('header-search-mobile-after');
            $(".header-cancel-button").toggleClass('header-cancel-button-after');
            $(".header-search-button").toggleClass('header-search-button-after');
            if ($(".header-complement").hasClass('header-complement-after')) {
                $(".header-complement-wrapper input").prop("disabled", false); //Enable
                $(".header-cancel-button").prop("disabled", false); //Enable
            }
            else {
                $(".header-complement-wrapper input").prop("disabled", true); //Disable
                $(".header-cancel-button").prop("disabled", true); //Disable
            }
        });

        var $headercancelbutton = $(".header-cancel-button");
        $headercancelbutton.on("click", function () {
            $(".header-complement-wrapper").toggleClass('header-complement-wrapper-after');
            $(".header-complement").toggleClass('header-complement-after');
            $(".header-search-mobile").toggleClass('header-search-mobile-after');
            $(".header-cancel-button").toggleClass('header-cancel-button-after');
            $(".header-search-button").toggleClass('header-search-button-after');
            if ($(".header-complement").hasClass('header-complement-after')) {
                $("header-search-bar").prop("disabled", false); //Enable
                $(".header-cancel-button").prop("disabled", false); //Enable
            }
            else {
                $("header-search-bar").prop("disabled", true); //Disable
                $(".header-cancel-button").prop("disabled", true); //Disable
            }
        });

        var $headersigninbutton = $(".header-signin-button");
        var animRodando = false;
        $headersigninbutton.on("click", function () {
            if (animRodando) {
                return;
            }
            animRodando = true;
            setTimeout(function () {
                $(".login-wrapper").toggleClass('fade-show');
                animRodando = false;
                setTimeout(function () { }, 150);
            }, 1);
            $(".login-wrapper").toggleClass('login-wrapper-after');
            $(".header-signin-button").toggleClass('header-signin-button-after');
            $(".header-signin-button span").toggleClass('fa-sign-in');
            $(".header-signin-button span").toggleClass('fa-close');
        });

        $("#login-form-button").on("click", function () {
            $("#login-form").css({ "display": "flex" });
            $("#signup-form").css({ "display": "none" });
        });

        //---------------------------------------------------------------------------------------------------------------
        // Hide Header on on scroll down
       /* var didScroll;
        var lastScrollTop = 0;
        var delta = 5;
        var navbarHeight = $(".header-wrapper").outerHeight();

        $(".content-wrapper").scroll(function (event) {
            didScroll = true;
        });

        setInterval(function () {
            if (didScroll) {
                hasScrolled();
                didScroll = false;
            }
        }, 250);

        function hasScrolled() {
            var st = $(".content-wrapper").scrollTop();

            // Make sure they scroll more than delta
            if (Math.abs(lastScrollTop - st) <= delta)
                return;

            // If they scrolled down and are past the navbar, add class .nav-up.
            // This is necessary so you never see what is "behind" the navbar.
            if (st > lastScrollTop && st > navbarHeight) {
                // Scroll Down
                $('.header-wrapper').removeClass('nav-down').addClass('nav-up');
            } else {
                // Scroll Up
                if (st + $(window).height() < $(document).height()) {
                    $('.header-wrapper').removeClass('nav-up').addClass('nav-down');
                }
            }

            lastScrollTop = st;
        }*/
        //-------------------------------

        $("#signup-form-button").on("click", function () {
            $("#login-form").css({ "display": "none" });
            $("#signup-form").css({ "display": "flex" });
        });

        $("#perguntas-filtros-btn-1").on("click", function () {
            $("#perguntas-filtros-btn-1").toggleClass("perguntas-filtros-btn-after");
            $("#perguntas-filtro-2").prop("checked", false);
            $("#perguntas-filtros-btn-2").removeClass("perguntas-filtros-btn-after");
        });

        $("#perguntas-filtros-btn-2").on("click", function () {
            $("#perguntas-filtros-btn-2").toggleClass("perguntas-filtros-btn-after");
            $("#perguntas-filtro-1").prop("checked", false);
            $("#perguntas-filtros-btn-1").removeClass("perguntas-filtros-btn-after");
        });

        const $menu = $('.perguntas-filtro-check');

        $(document).mouseup(function (e) {
            if(  !$menu.is(e.target) && $menu.has(e.target).length === 0)//se o target nao for o container ou um dos filhos
            {
                $menu.prop("checked",false);
                $(".perguntas-filtros-btn").removeClass("perguntas-filtros-btn-after");
            }
        });

        function cancelEvent(evt) {
            if (evt) {
                if ("isCancelled" in evt)
                    evt.isCancelled = true;
                if ("preventDefault" in evt)
                    evt.preventDefault();
                if ("stopPropagation" in evt)
                    evt.stopPropagation();
            }
            return false;
        }

        function atualizaContent() {
            if ($.active)
                return;

            var projects = $("#projects");
            projects.empty();

            $.ajax({
                url: "/getProjects",
                type: "GET",
                cache: false,
                success: (data) => {
                    for(var i=0; i < data.length; i++) {
                        projects.append(
                            '<div class="pergunta-container">'+
                                '<a class="pergunta-imagem" href = "/projects/' + data[i].id + '/' + data[i].title + '">' +
                                    '<div class="pergunta-imagem"><img src="https://via.placeholder.com/320x160.png?text=Projeto+Curse"/></div>' +
                                '</a>' +
                                '<div class="pergunta-desc">' +
                                    '<a class="pergunta-titulo" href="/projects/' + data[i].id + '/' + data[i].title + '">' +
                                        '<div class= "pergunta-titulo">' + data[i].title + '</div>'+
                                    '</a>'+
                                    '<div class= "pergunta-desc-sub">'+
                                        '<div class="pergunta-tempo">' + data[i].date + '</div>' +
                                        '<div class="pergunta-usuario">' + data[i].user +'</div>' + 
                                    '</div>'+
                                        '<div class= "pergunta-tags" > TAGS </div>' +
                                '</div>'+
                            '</div>');
                    
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log('error ' + textStatus + " " + errorThrown);
                }
            });
        }

        function processaLink(e) {
            if ($.active)
                return cancelEvent(e);
            var id = this.getAttribute("data-id");
            var target = document.getElementById(this.getAttribute("data-target"));
            target.setAttribute("data-id", id);
            target.textContent = this.textContent;
            atualizaContent();
            return cancelEvent(e);
        }

        (function () {
            var links = document.getElementById("perguntas-filtro-1-dropdown").getElementsByTagName("a");
            for (var i = 0; i < links.length; i++) {
                links[i].onclick = processaLink;
            }
            links = document.getElementById("perguntas-filtro-2-dropdown").getElementsByTagName("a");
            for (var i = 0; i < links.length; i++) {
                links[i].onclick = processaLink;
            }
        })();

        //--------------------------------------------------------------------------------------------------------------------------------------
    </script>

    <!-- Script Backend -->
    <script type="text/javascript">

        // Login ajax
        $("#login-form").submit(function(event){
            event.preventDefault(); //prevent default action 

            let user = {
                username: $("#login-form-username").val(),
                password: $("#login-form-password").val()
            }
            $.ajax({
                url: "/login",
                type: "GET",
                data: user,
                dataType: "json",
                success: (data) => {
                    alert(data);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log('error ' + textStatus + " " + errorThrown);
                }
            });
        });
        // Signup ajax
        $("#signup-form").submit(function(event){
            event.preventDefault(); //prevent default action 

            let userInfo = {
                email: $("#signup-form-email").val(),
                username: $("#signup-form-username").val(),
                password: $("#signup-form-password").val(),
                repeat: $("#signup-form-repeat").val()
            }
            $.ajax({
                url: "/register",
                type: "POST",
                data: userInfo,
                dataType: "json",
                success: (data) => {
                    alert(data);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log('error ' + textStatus + " " + errorThrown);
                }
            });
        });

        atualizaContent();
    </script>
</div>
</body>
</html>
