<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Bug Bank</title>
    <link type="text/css" rel="stylesheet" href="../public/css/indexCss.css" />
</head>
<body>
    <nav class="nav-header">
        <ul>
            <li><a href="explorar.html">Explorar</a></li>
            <li><a href="criarBug.html">Criar um Bug</a></li>
            <li><a href="gerenciador.html">Gerenciador de Bugs</a></li>
        </ul>
    </nav>
    <div class="sidebar-fake-bg"></div>
    <aside class="sidebar">
        
    </aside>
    <main>
        <nav class="nav-tab">
            <ul>
                <li><a href="feed.html">Feed</a></li>
                <li><a href="listaDeBugs.html">Lista de Bugs</a></li>
                <li><a href="discussao.html">Discussão</a></li>
            </ul>
        </nav>
</main>
</body>
</html>