<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bug Bank</title>
    <link type="text/css" rel="stylesheet" href="../public/css/indexCss.css" />
    <link rel="stylesheet" href="../public/font-awesome/css/font-awesome.min.css">
    <link href="../public/dist/hamburgers.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div class="header-wrapper nav-down">
        <div class="header">
            <div class="header-container">
                <div class="header-left">
                    <button class="hamburger hamburger--slider" type="button" id="header-toggle-sidebar">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                    <div class="header-logos-wrapper">
                        <div class="header-logos">
                            <img src="../Public/Imagens/CurseIcon.svg" class="header-logos-curse" draggable="false" />
                            <img src="../Public/Imagens/BugBank.svg" class="header-logos-bug" draggable="false" />
                        </div>
                    </div>
                </div>
                <div class="header-center">
                    <nav class="navbar">
                        <a href="" class="navbar-item">Explorar</a>
                        <a href="" class="navbar-item">Criar um Bug</a>
                        <a href="" class="navbar-item">Gerenciar Bugs</a>
                    </nav>
                    <form id="search-form" method="get" action="/login">
                        <span class=" search-bar-icon fa fa-search"></span>
                        <input class="header-search-bar" type="text" placeholder="Pesquisar..">
                        <button type="reset" class="search-clear-button">
                            <span class="fa fa-close"></span>
                        </button>
                    </form>
                </div>
                <div class="header-right">
                    <div class="header-search">
                    </div>
                    <button type="button" class="header-search-button header-buttons"><span class="fa fa-search"></span></button>
                    <button type="button" class="header-signin-button header-buttons"><span class="fa fa-sign-in"></span></button>
                    <a href="/perfil" class="header-profile-button header-buttons"><span class="fa fa-circle"></span></a>
                    <button type="button" class="header-notification-button header-buttons"><span class="fa fa-bell"></span></button>
                </div>
            </div>
            <div class="header-complement-wrapper">
                <div class="header-complement">
                    <div class="header-search-mobile">
                        <form id="search-form" method="get" action="/login">
                            <span class="search-bar-icon fa fa-search"></span>
                            <input class="header-search-bar" type="text" placeholder="Pesquisar..">
                            <button type="reset" class="search-clear-button">
                                <span class="fa fa-close"></span>
                            </button>
                        </form>
                        <button type="button" class="header-cancel-button" disabled>CANCEL</button>
                    </div>
                </div>
            </div>
            <div class="login-wrapper fade">
                <!--<img src="../Public/Imagens/modal.svg" class="login-shape"/>-->
                <div class="login-modal">
                    <div class="login-modal-switch">
                        <label class="form-select-container">
                            <input type="radio" checked="checked" name="radio">
                            <span class="form-select-button" id="login-form-button">Login</span>
                        </label>
                        <label class="form-select-container">
                            <input type="radio" name="radio">
                            <span class="form-select-button" id="signup-form-button">Sign Up</span>
                        </label>
                    </div>

                    <div class="login-modal-content">
                        <form id="login-form" method="get" action="/login">
                            <div class="login-modal-item">
                                <label for="login-form-username" class="login-form-label">Username</label>
                                <input type="text" id="login-form-username" class="login-form-input" name="login-form-username">
                            </div>
                            <div class="login-modal-item">
                                <label for="login-form-password" class="login-form-label">Password</label>
                                <input type="password" id="login-form-password" class="login-form-input" name="login-form-password">
                            </div>
                            <div class="login-modal-submit">
                                <input type="submit" class="login-form-submit" value="Log In">
                            </div>
                        </form>

                        <form id="signup-form" class="nodisplay" method="post" action="/register">
                            <div class="login-modal-item">
                                <label for="signup-form-email" class="login-form-label">E-mail</label>
                                <input type="email" id="signup-form-email" class="login-form-input" name="signup-form-email">
                            </div>
                            <div class="login-modal-item">
                                <label for="signup-form-username" class="login-form-label">Username</label>
                                <input type="text" id="signup-form-username" class="login-form-input" name="signup-form-username">
                            </div>
                            <div class="login-modal-item">
                                <label for="signup-form-password" class="login-form-label">Password</label>
                                <input type="password" id="signup-form-password" class="login-form-input" name="signup-form-password">
                            </div>
                            <div class="login-modal-item">
                                <label for="signup-form-repeat" class="login-form-label">Repeat Password</label>
                                <input type="password" id="signup-form-repeat" class="login-form-input" name="signup-form-repeat">
                            </div>
                            <div class="login-modal-submit">
                                <input type="submit" class="login-form-submit" value="Register">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!------------------------------------------------------SIDEBAR------------------------------------------------------------------------>
                <div class="sidebar-wrapper">
            <div class="sidebar-container">
                <div class="sidebar-scroller">
                    <div class="sidebar-lists">
                        <ul class="sidebar" id="lista-bugs"></ul>
                    </div>
                </div>
            </div>
        </div>
<!-------------------------------------------------------------- PERFIL ----------------------------------------------------------------------->
    <div class="content-wrapper profile">
        <!-- Barra lateral esquerda -->
        <div class="sidebar left">
            <div class="spacer">
                <figure>
                    <img src="https://via.placeholder.com/170x170">
                    <figcaption>
                        <p class="bold">Bruna Rodrigues</p>
                        <p class="italic">brunarodrigues</p>
                    </figcaption>
                </figure>
                
                <p>Estudante de Tech (Sistemas de informação com gestão e propaganda) na ESPM. Tech student (Information systems with business and advertisement) at ESPM</p>
                
                <button>Editar perfil</button>
            </div>
        </div>
        
        <!-- Conteúdo direita -->
        <div class="content left">
            <div class="spacer">
                <nav>
                    <ul>
                        <li><a href="" class="active">Informações</a></li>
                        <li><a href="">Meus Bugs</a></li>
                        <li><a href="">Contribuições</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script>
    
    function atualizaContent(dataID) {
            if ($.active)
                return;

            
            //Get user projects sidebar
            var sidebarBugs = $("#lista-bugs");
            sidebarBugs.empty();

            sidebarBugs.append('<li id="sidebar-list-title" class="noselection"> MEUS BUGS </li>');

            $.ajax({
                url: "/getUserProjects",
                type: "GET",
                cache: false,
                success: (data) => {
                    for(var i=0; i < data.length; i++) {
                        sidebarBugs.append(
                            '<li>'+
                                '<a href = "/projects/' + data[i].id_pergunta + '/' + data[i].titulo_pergunta + '">' +
                                    '<div class="sidebar-list-item">'+
                                        '<img src="../Public/Imagens/circle.svg" class="sidebar-list-item-category"/>'+
                                        '<div class="sidebar-list-item-name">' + data[i].titulo_pergunta + '</div>' +
                                    '</div>'+
                                '</a>' +
                            '</li>'
                        );
                        
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log('error ' + textStatus + " " + errorThrown);
                }
            });

        }
        atualizaContent();
    </script>
</body>
</html>