<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/public/CSS/indexCss.css">
	<link rel="stylesheet" type="text/css" href="/public/CSS/project.css">
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
	
	<title><%= result.title %></title>
</head>
<body>
<div class="header-wrapper nav-down">
            <div class="header">
                <div class="header-container">
                    <div class="header-left">
                        <div class="header-logos-wrapper">
                            <div class="header-logos">
                                <a href="/"> 
                                    <img src="../../Public/Imagens/CurseIcon.svg" class="header-logos-curse" draggable="false"/></a>
                            </div>
                        </div>
                    </div>
                    <div class="header-center">
                        <div class="project-info">
		                    <h2><%= result.title %></h2>
		                    <div class="about" id="about">
                                <p>criado por</p>
			                    <p class="about-user"><a href="/"><%= result.user %></a></p>
                                <p>em</p>
			                    <p class="about-date"><%= result.date %></p>
		                    </div>
	                    </div>
                    </div>
                    <div class="header-right">
                        <button type="button" class="header-profile-button header-buttons"><span class="fa fa-circle"></span></button>
                    </div>
                </div>
            </div>
        </div>
    <!------------------------------------------------------------------------------------------------------------------------->
    <div class="content-wrapper">
        <div class="content">
            <div class="editor-header">
                <div class="file-tabs">
                    <div class="file-tab-container">
                        <input type="radio" class="file-radio" name="file" checked/>
                        <div class="file-tab">
                            <span>projeto.ejs</span>
                            <button type="button" class="fa fa-close close-tab"></button>
                        </div>
                    </div>
                    <div class="file-tab-container">
                        <input type="radio" class="file-radio" name="file"/>
                        <div class="file-tab">
                            <span>projetoCss.css</span>
                            <button type="button" class="fa fa-close close-tab"></button>
                        </div>
                    </div>
                                        <div class="file-tab-container">
                        <input type="radio" class="file-radio" name="file"/>
                        <div class="file-tab">
                            <span>projeto.ejs</span>
                            <button type="button" class="fa fa-close close-tab"></button>
                        </div>
                    </div>
                    <div class="file-tab-container">
                        <input type="radio" class="file-radio" name="file"/>
                        <div class="file-tab">
                            <span>projetoLayoutIndex.html</span>
                            <button type="button" class="fa fa-close close-tab"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="editor">
                <div class="editor-options">

                </div>
                <div class="container-wrapper">
                    <div class="container-spacer"></div>
                    <div id="container"></div>
                </div>
                <div class="file-tree">

                </div>
            </div>
            <div class ="editor-footer">
                <div class="project-desc-container">
                    <input type="checkbox" id="project-desc-dropdown-check" class="project-desc-dropdown-check">
                    <div class="project-desc-title">
                        <p>Description</p>
                    </div>
                    <div class="project-desc-dropdown-content">
                        <div class="project-desc-content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum feugiat nisi nec venenatis. Pellentesque ac sem feugiat, maximus justo in, pellentesque ligula. Vestibulum gravida dolor ultrices scelerisque euismod. Cras in tellus ultrices, maximus tellus sit amet, volutpat nisl. Pellentesque malesuada felis at nulla convallis, nec laoreet nunc luctus. Pellentesque dignissim velit ac augue dictum posuere. In sollicitudin, leo sed tristique faucibus, sapien mi lobortis libero, eget convallis odio ex id felis. Mauris mollis arcu ut elit eleifend dictum. Pellentesque quis ornare lacus. Curabitur ullamcorper, nisi id sollicitudin fermentum, lacus tellus sagittis massa, at cursus libero mi a augue.
                            </p>
                        </div>
                    </div>
                    <span class="fa fa-chevron-down"></span>
                </div>

                <div class="informacoes">

                </div>
            </div>

            <div class="comments-container">
                <div class="comment-layout">
                    <div class="comment-left">
                        <a href="/" class="comment-profile-picture fa fa-circle"></a>
                    </div>
                    <div class="comment-right">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SCRIPTS-------------------------------------------------------------------------------------------------------------------------->
    <script src="../../Public/monaco/min/vs/loader.js"></script>
    
    <script>
	    require.config({ paths: { 'vs': '../../Public/monaco/min/vs' }});
	    require(['vs/editor/editor.main'], function() {
		    var editor = monaco.editor.create(document.getElementById('container'), {
			    value: [
				    'function x() {',
				    '\tconsole.log("Hello world!");',
				    '}'
			    ].join('\n'),
                language: 'javascript',
                theme: "vs-dark",
                automaticLayout: true,
                scrollbar: {
                    verticalHasArrows: true,
                    horizontalHasArrows: true,
                    vertical: 'visible',
                    horizontal: 'visible',
                    verticalScrollbarSize: 17,
                    horizontalScrollbarSize: 17,
                    arrowSize: 30
                }
		    });
	    });
    </script>

</body>
</html>
