<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../public/CSS/project.css">
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
	
	<title><%= title %></title>

	<script type="text/javascript" src="../public/codemirror/lib/codemirror.js"></script>
	<link rel="stylesheet" href="../public/codemirror/lib/codemirror.css">

	<!-- temas -->
	<link rel="stylesheet" href="../public/codemirror/theme/darcula.css">
	<link rel="stylesheet" href="../public/codemirror/theme/lucario.css">
	<link rel="stylesheet" href="../public/codemirror/theme/base16-light.css">
    <link rel="stylesheet" href="../public/codemirror/theme/bugbase-dark.css">
	<!-- modos -->
	<script  src="../public/codemirror/mode/css/css.js"></script>
	<script  src="../public/codemirror/mode/javascript/javascript.js"></script>
	<script  src="../public/codemirror/mode/xml/xml.js"></script>
	<script  src="../public/codemirror/mode/sql/sql.js"></script>

	<!-- language hint -->
	<script src="../public/codemirror/addon/hint/css-hint.js"></script>
	<script src="../public/codemirror/addon/hint/xml-hint.js"></script>
	<script src="../public/codemirror/addon/hint/sql-hint.js"></script>
	<script src="../public/codemirror/addon/hint/javascript-hint.js"></script>

	<script src="../public/codemirror/addon/hint/show-hint.js"></script>
	<link rel="stylesheet" href="../public/codemirror/addon/hint/show-hint.css">

    <script src="../public/codemirror/addon/selection/active-line.js"></script>
    <script src="../public/codemirror/addon/selection/mark-selection.js"></script>
    <script src="../public/codemirror/addon/selection/selection-pointer.js"></script>
    <script src="../public/codemirror/addon/edit/matchbrackets.js"></script>
    <script src="../public/codemirror/addon/edit/closebrackets.js"></script>
    <script src="../public/codemirror/addon/edit/matchtag.js"></script>
    <script src="../public/codemirror/addon/edit/closetag.js"></script>

    <script src="../public/codemirror/addon/scroll/simplescrollbars.js"></script>
    <link rel="stylesheet" href="../public/codemirror/addon/scroll/simplescrollbars.css">
</head>
<body>
	<header class="header">
		<a href="/" class="div-a">
			<img src="../Public/Imagens/CurseIcon.svg" class="header-logos-curse" draggable="false" />
        	<img src="../Public/Imagens/BugBank.svg" class="header-logos-bug" draggable="false" />
		</a>   
	</header>
    <div class="project-stuff">
		<h2>titulo</h2>
		<div class="about" id="about">
			<p class="about-user"><a href="/"></a></p>
			<p class="about-date">data</p>
		</div>
	</div>
  	<div class="jstree-textarea">
		<textarea name="area" class="textarea" id="textarea" cols="30" rows="10"></textarea>
          		<div id="jstree" class="fa fa-folder">
			<ul>
				<li>Root
					<ul>
						<li>Filho 1</li>
						<li>Filho 2
							<ul>
								<li>Filho 2.1</li>
								<li>Filho 2.2</li>
							</ul>
						</li>
						<li>Filho 3</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

	<footer>
		<div class="theme-mode">
			<ul>
				<li>
					<select onchange="selectTheme()" id="select">
						<option>Temas</option>
						<option>darcula</option>
						<option>lucario</option>
						<option>base16-light</option>
                        <option selected>bugbase-dark</option>
					</select>	
				</li>
				<li>
					<select onchange="selectMode()" id="select2">
						<option selected>Linguagens</option>
						<option>javascript</option>
						<option>css</option>
						<option>xml</option>
						<option>sql</option>
					</select>
				</li>
			</ul>
		</div>	
	</footer>

	<script type="text/javascript">
		$('#jstree').jstree({
			"core" : {
      		"check_callback" : true
    		},
    		"types" : {
      			"default" : {
        			"icon" : "fa fa-folder"
      			},
    		},
			"plugins": ["dnd","sort","types","unique"]
		});	
	</script>
	<script type="text/javascript">
		var editor = CodeMirror.fromTextArea(document.getElementById('textarea'), {
            lineNumbers: true,
            styleActiveLine: true,
            autoCloseBrackets: true,
            matchBrackets: true,
            matchTags: true,
            autoCloseTags: true,
            scrollbarStyle: "simple",
			extraKeys: {"Ctrl-Space": "autocomplete"},
            theme: "bugbase-dark"
		});

		var input = document.getElementById("select");
		function selectTheme(){
			var theme = input.options[input.selectedIndex].textContent;
			editor.setOption("theme", theme);
		}
		
		var input2 = document.getElementById("select2");
		function selectMode(){
			var mode = input2.options[input2.selectedIndex].textContent;
			editor.setOption("mode", mode);
		}

		var questionID = <%= questionID %>;
		$.ajax({
            url: "/getProjectInfo",
			type: "GET",
			data: questionID,
            cache: false,
            success: (data) => {
        	},
            error: function(jqXHR, textStatus, errorThrown) {
                console.log('error ' + textStatus + " " + errorThrown);
            }
        });
	</script>
</body>
</html>
