* {
    font-size:16px;
    font-family: 'Noto Sans', sans-serif;
}

html, body {
    margin: 0;
    color: #898594;
}

::placeholder {
    color: #d9dede;
    font-style: italic;
}

.bugbank {
}

.header-wrapper {
    z-index: 5;
    position: fixed;
    height: 75px;
    width: 100%;
}

.header {
    background-color: #f7f8fa;
    border-bottom: 1px solid #d9dede;
}

.header-container {
    height: 75px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header-left{
    margin-top:5px;
    margin-left:10px;
    display:flex;
    float:left;
}

.header-center {
    padding-right: 15px;
    display: flex;
}

.header-logos-wrapper {
    height: 100%;
    display: inline-block;
}

.header-logos {
}

.header-logos-bug {
    height: 50px;
    display: inline-block;
    padding-right: 5px;
    padding-bottom: 5px;
}

.header-logos-curse {
    height: 60px;
    display: inline-block;
}

.header-search{
    display:none;
}

.header-right {
    margin-right: 25px;
    display: flex;
    width: 64px;
}

.header-search-button {
    padding: 0;
    color: #898594;
    border: none;
    background: none;
    font-size: 26px;
    outline:none;
    transition: color linear 0.1s;
}
    .header-search-button:hover {
        color: #ff2e42;
    }

    .header-search-button-after {
        color: #e25a68;
    }

.header-signin-button {
    padding: 0;
    padding-left: 15px;
    color: #898594;
    border: none;
    background: none;
    font-size: 28px;
    outline: none;
    transition: color linear 0.1s;
}

    .header-signin-button:hover {
        color: #ff2e42;
    }

    .header-signin-button-after {
        color: #e25a68;
    }

.header-complement-wrapper {
}

.header-complement {
    position: relative;
    background-color: #f7f8fa;
    height: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition: height 0.2s cubic-bezier(0.77,0.2,0.05,1.0);
}

.header-complement-after {
    height:55px;
}

.header-search-mobile {
    opacity: 0;
    transition: opacity 0.2s;
    margin-right:10px;
}

    .header-search-mobile-after {
        opacity:1;
    }

.header-search{

}

.header-search-bar {
    max-width: 750px;
    min-width: 125px;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    outline: none;
    color: #898594;
    transition: 0.3s;
    box-shadow: inset 0px 0px 4px rgba(0,0,0,0.25);
    height:25px;
}

    .header-search-bar:focus {
        box-shadow: inset 0px 0px 4px rgba(0,0,0,0.5);
    }

.header-cancel-button {
    background:none;
    font-size: 16px;
    font-weight: 600;
    color: #849493;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    opacity: 0;
    transition: opacity 0.2s;
    outline: none;
}

    .header-cancel-button:hover {
        color: #ff2e42;
    }

    .header-cancel-button-after {
        opacity:1;
    }

.sidebar-wrapper {
    background-color: #f7f8fa;
    position: fixed;
    width: 100%;
    z-index: 4;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.2s cubic-bezier(0.77,0.2,0.05,1.0);
    top: 76px;
    bottom: 0;
    overflow-y: auto;
    overflow-x:hidden;
}

    .sidebar-wrapper-after {
        transform: none;
    }

.sidebar-container {
    height:100%;
}

.sidebar-scroller {
    overflow-y: auto;
    height: 100%;
    margin-right: -16px;
}

.sidebar-logos-wrapper {
    display: none;
}

.sidebar-lists{
    display:flex;
    flex-direction:column;
}

.sidebar-lists-list{

}

#sidebar-list-title {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 600;
}

    #sidebar-list-title:hover {
        background-color: transparent;
    }

.sidebar {
    padding-left: 15px;
    position: relative;
    /*width: 100%;*/
    margin: 0;
    background-color: #f7f8fa;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
}

    .sidebar li {
        padding: 0;
        border-radius: 40px;
        transition: background-color 0.3s;
        margin-right: 30px;
    }

        .sidebar li:hover {
            background-color: #e3e7ef;
        }

    .sidebar a {
        text-decoration: none;
        color: #232323;
        transition: color 0.3s ease;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
    }

.sidebar-list-item {
    margin: 5px;
    padding: 15px;
    border-radius: 3px;
    display: flex;
    color: #454545;
}

.sidebar-list-item-name {
    display: flex;
    font-weight: 400;
    -webkit-text-fill-color: #454545;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #454545;
    font-size: 22px;
}

.sidebar-list-item-category {
    height: 30px;
    display: flex;
    margin-right: 10px;
}

.login-wrapper {
    display: none;
    position: fixed;
    right: 40px;
    -webkit-filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .5));
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .5));
}

.login-shape {
    align-self: flex-end;
    height: 17px;
}

.login-wrapper-after {
    display: flex;
    flex-direction:column;
}

.login-modal {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border-top-right-radius: 0px;
    background-color: #f7f8fa;
    justify-content: center;
    align-items:center;
}

.login-modal-switch {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 4px;
    background-color: #e3e7ef;
    border-radius: 20px;
    margin: 12px 12px;
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.15);
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.15);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.15);
}

.login-modal-content {

}

.login-modal-item{
    margin-bottom:26px;
}

#login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 300px;
}

.login-form-label {
    display: flex;
    align-self: flex-start;
    margin-bottom: 8px;
}

.login-form-input {
    height: 45px;
    width: 230px;
    outline: none;
    border: none;
    padding: 5px 10px;
    border-radius: 40px;
    background-color: #e3e7ef;
    color: #898594;
    transition: 0.3s;
    box-shadow: inset 0px 0px 4px rgba(0,0,0,0.25);
    height: 25px;
}

    .login-form-input:focus {
        box-shadow: inset 0px 0px 4px rgba(0,0,0,0.5);
    }

.login-modal-submit{
    margin: 8px 0;
}

.login-form-submit {
    color:white;
    background: none;
    background-color: #ff2e42;
    width:200px;
    height:50px;
    border-radius:10px;
    border:none;
    outline:none;
    transition:background-color linear 0.2s;
}

    .login-form-submit:hover {
        background-color: #ff062a;
    }

#login-form-username{
}

#login-form-password {
}

#signup-form {
    display: none;
    align-items: center;
    flex-direction: column;
    height: 450px;
}

.content-wrapper {
    overflow:auto;
    position:fixed;
    width: auto;
    z-index:0;
    top:76px;
    bottom:0;
}

.content {
    height: 1000px;
    background-color: #e3e7ef;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-start;
}

.projects {
    width: 300px;
    height: 400px;
    margin: 10px;
    background-color: #e74c3c;
    color: white;
}

.projects h1 {

}
.noselection {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.nodisplay {
    display: none;
}

.defaultdisplay {
    display: block;
}

.noscroll {
    overflow: hidden;
}

.fade {
    opacity:0;
    transition:opacity linear 0.15s, transform linear 0.15s;
    transform: translateY(-5%);
}

.fade-show {
    opacity: 1;
    transform: none;
}

.form-select-container {
    display: flex;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 1px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

/* Hide the browser's default radio button */
.form-select-container input {
    cursor: pointer;
    position: fixed;
    display:none;
}

/* Create a custom radio button */
.form-select-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 132px;
    background-color: #e3e7ef;
    border-radius: 20px;
    transition: background-color linear 0.15s, box-shadow linear 0.15s;
    font-size: 16px;
    color: #e25a68;
    font-weight:600;
}

/* When the radio button is checked, add a blue background */
.form-select-container input:checked ~ .form-select-button {
    background-color: #f7f8fa;
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.15);
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
    color: #ff2e42;
}

#login-form-button {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

#signup-form-button {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
    @media only screen and (min-width: 801px) {
        .header{
        }

        .header-container {
            margin-left: 350px;
        }

        .header-left{
            display:none;
        }

        .sidebar-wrapper {
            transform: none;
            width: 350px;
            top:0px;
            z-index: 5;
        }

        .header-center {
            padding-left:35px;
        }


        .header-logos-wrapper{
            display:none;
        }

        .header-logos {
        }

        .header-logos-bug {
            height: 80px;
            padding-right:20px;
        }

        .header-logos-curse {
            height: 100px;
        }

        .header-right {
            width: auto;
        }

        .header-search {
            display: inline-block;
        }

        #search-form{
            position:relative;
        }

        .header-search-bar {
            padding-right: 35px;
            background-color: #fcfdff;
            box-sizing: border-box;
            width: 100%;
            height: 35px;
        }

        .header-search-button {
            display: none;
        }

        .search-clear-button {
            position:absolute;
            top: 6px;
            right: 15px;
            background: none;
            border: none;
            outline: none;
            padding: 0;
            color: #d9dede;
        }

            .search-clear-button:hover {
                color: #ff2e42;
            }

        .sidebar {
            padding-left: 0;
        }

        .sidebar-logos-wrapper {
            display: flex;
        }

        .sidebar-logos {
            margin-left: 68px;
        }

        .sidebar-lists {
            margin-left: 58px;
            margin-right: 46px;
        }

        #sidebar-list-title {
            font-size: 14px;
            padding-left: 10px;
            margin-bottom: 10px;
        }

        .sidebar-list-item-name {
            font-size: 14px;
        }

        .sidebar-list-item {
            padding-left: 0;
            display: flex;
            align-items: center;
            flex-direction: row;
            padding:10px;
            margin: 0 5px 0 0;
        }

        .sidebar li {
            margin: 0;
        }

        .content-wrapper {
            margin-left:350px;
        }

        }
