* {
    font-family: 'Noto Sans', sans-serif;
}

.noselection {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

html, body {
    background-color: #f7f8fa;
    margin: 0;
    color: #898594;
    font-weight: 600;
    font-size: 14px;
    height:100%;
}

.bugbank{
    width:100%;
}

.sidebar-container {
    position: fixed;
    width: 300px;
    overflow: hidden;
    height: 100%;
    background-color: #f7f8fa;
    border-right: 1px solid #d9dede;
    z-index: 2;
}

.sidebar-container:hover + .content{
    background-color: firebrick;
}

.sidebar-scroller {
    overflow-y: scroll;
    height: 100%;
    margin-right: -16px;
}

.sidebar {
    margin-left: 58px;
}

.sidebar-logos {
    padding-left: 58px;
    padding-top: 20px;
    position: absolute;
}

.sidebar-logos-bug {
    height: 60px;
    display: inline-block;
    padding-bottom: 10px;
    padding-right: 20px;
}

.sidebar-logos-curse {
    height: 80px;
    display: inline-block;
}

.sidebar-lists {
    margin-top: 130px;
    margin-right: 40px;
}

.sidebar-list-title {
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 5px;
    color: #898594;
}

.sidebar-list-bugs {
    width: 100%;
    margin-bottom: 20px;
}

.sidebar-list-bugs ul {
    margin: 0;
    list-style-type: none;
    height: 100%;
    padding: 0;
}

.sidebar-list-bugs ul li {
    height: 100%;
    border-radius: 20px;
    padding: 0 7px;
    transition: background-color 0.3s;
}

.sidebar-list-bugs ul li:hover {
    background-color: #e3e7ef;
}

.sidebar-list-bugs ul li a {
    display: block;
    text-decoration: none;
}

.sidebar-list-item {
    background: url(../Imagens/circle.png) 0px 9px no-repeat;
    color: #454545;
    padding: 15px 0px 15px 38px;
}

.sidebar-list-item-name {
    font-weight: 400;
    -webkit-text-fill-color: #454545;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #454545;
}

.sidebar-list-item-category {
    height:30px; 
    display: inline-block;
    margin-right:10px; 
    display:table-cell; 
    vertical-align: middle;
}

.sidebar-list-contribs {
    width: 100%;
}

.sidebar-list-contribs ul {
    margin: 0;
    list-style-type: none;
    height: 100%;
    padding: 0;
}

.sidebar-list-contribs ul li {
    height: 100%;
    border-radius: 20px;
    padding: 0 7px;
    transition: background-color 0.3s;
}

.sidebar-list-contribs ul li:hover {
    background-color: #e3e7ef;
}

.sidebar-list-contribs ul li a {
    display: block;
    text-decoration: none;
}

.header-container {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #f7f8fa;
    right: 0;
    border-bottom: 1px solid #d9dede;
    z-index:1;
}

.header {
    height:100%;
    display: flex;
    flex-direction: row;
    padding-left: 300px;
}

.header-block {
    height:100%;
    max-width:300px;
    min-width:265px;
    width:100%;
}

.header-menu {
    max-width: 430px;
    min-width: 330px;
    width:100%;
    margin: auto 0;
}

.header-menu-item{
    display: inline-block;
}

#header-menu-item-not-final {
    padding-right:5%;
}

.bug {
    background: url(../Imagens/bug_sprite.png) 0px 0px no-repeat;
    display: block;
    float: right;
    height: 26px;
    margin-top: -2px;
    width: 25px;
}

.bug.wrong {
    background-position: -29px 0px;
    height: 26px;
    width: 25px;
}

.bug.not-fixed {
    background-position: -56px 0px;
    height: 26px;
    width: 29px;
}

.bug.fixed {
    background-position: -85px 0px;
    height: 26px;
    width: 29px;
}

/*
.header-menu ul {
    margin:0;
    padding:0;
    padding-right:5px;
    margin-right: auto;
}

.header-menu ul li {
    display:inline-block;
    list-style-type: none;
}

.header-menu ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #898594;
}
*/
.header-menu a {
    font-size: 18px;
    text-decoration: none;
    color: #898594;
}

.header-menu a:hover {
    color: #ff2e42;
}

.header-right{
    float:right;
}

.header-search {
    margin: auto 0;
    margin-left: auto;
    margin-right: 40px;
    float: right;
}

::placeholder {
   color: #d9dede;
   font-style: italic;
}

.header-search-bar {
    height: 25px;
    max-width:250px;
    min-width:125px;
    width: 100%;
    border: 1px none #fff;
    border-radius: 20px;
    padding: 5px 10px;
    outline: none;
    color: #898594;
    transition: 0.3s;
    box-shadow: inset 0px 0px 4px rgba(0,0,0,0.25);
}

.header-search-bar:focus {
    box-shadow: inset 0px 0px 4px rgba(0,0,0,0.5);
}

.header-tools {
    margin: auto 0;
    margin-right: 15px;
}
/*------------------------------------------------------------------------------*/
#menu {
    margin-top:50%;
    display:none;
}

ul#menu > li {
float: right;
list-style-type: none;
position: relative;
}

label {
position: relative;
display: block;
padding: 0;
cursor: pointer;
width:35px;
}

label:after {
content: "";
position: relative;
display: block;
top: 50%;
right: 5px;
width: 0;
height: 0;
transition: border-bottom .1s, border-top .1s .1s;
}

label:hover,
input:checked ~ label {
}

input:checked ~ label:after {
}

/*hide the inputs*/
#menu input {
display: none
}

/*show the second levele menu of the selected voice*/
input:checked ~ ul.submenu {
max-height: 300px;
transition: max-height 0.5s ease-in;
}

/*style for the second level menu*/
ul.submenu {
    max-height: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background: #444;
    box-shadow: 0 0 1px rgba(0,0,0,.3);
    transition: max-height 0.5s ease-out;
    position: relative;
    min-width: 100%;
    right: 8px;
    border-radius: 30px;
}
}

ul.submenu li{
}

ul.submenu li a {
    border-radius:30px;
    display: block;
    margin: 5px;
    padding: 5px;
    color: #ddd;
    text-decoration: none;
    transition: background .3s;
    white-space: nowrap;
}

ul.submenu li a:hover {
background: rgba(0,0,0,.3);
}
/*------------------------------------------------------------------------------*/
.header-tools-item-notif {
    height: 30px;
    width:29px;
}

.header-tools-item-profile {
    height:30px;
}

.header-tools-item-settings {
    height:30px;
}

/*MEDIA RULES*/
@media only screen (min-width: 801px ) {

}