*{
	margin: 0;
	padding: 0;
	font-family: Quicksand;
	color: #F9F7FF;
}

body{
	background-color: #7D7B7F;

}
.div-theme {
	display: inline-block;
	padding: 3px;
	background-color: #3E3E40;
}
.div-mode {
	display: inline-block;
	padding: 3px;
	background-color: #3E3E40;

}
option,select{
	background-color: #3E3E40;
}
form{
	display: inline-block;
	background-color: #3E3E40;
	padding: 3px;
}

button {
	color: black;
}

#jstree {
	display: inline-block;
	background-color: #3E3E40;
	margin: 0;
	height: 400px;
    overflow: auto;
    width: 25%;
    vertical-align: bottom;
    display: inline-block;
}
