/**
    Name: IntelliJ IDEA bugbase-dark theme
    From IntelliJ IDEA by JetBrains
 */

.cm-s-bugbase-dark {
  font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
}

  .cm-s-bugbase-dark.CodeMirror {
    background: #1E1E1E;
    color: #DCDCDC;
  }

  .cm-s-bugbase-dark span.cm-meta {
    background: rgba(0,119,255,.3);
    color: #c6c6c6;
  }

  .cm-s-bugbase-dark span.cm-number {
    color: #b5cea8;
  }

  .cm-s-bugbase-dark span.cm-keyword {
    color: #569CD6;
    line-height: 1em;
  }

  .cm-s-bugbase-dark span.cm-def {
    color: #4ec9b0;
  }

  .cm-s-bugbase-dark span.cm-variable {
    color: #c6c6c6;
  }

  .cm-s-bugbase-dark span.cm-variable-2 {
    color: #c6c6c6;
  }

.cm-s-bugbase-dark span.cm-variable-3 {
  color: #9876AA;
}

  .cm-s-bugbase-dark span.cm-type {
    color: #c6c6c6;
  }

.cm-s-bugbase-dark span.cm-property {
  color: #FFC66D;
}

  .cm-s-bugbase-dark span.cm-operator {
    color: #c6c6c6;
  }

  .cm-s-bugbase-dark span.cm-string {
    color: #9cdcfe;
  }

  .cm-s-bugbase-dark span.cm-string-2 {
    color: #9cdcfe;
  }

.cm-s-bugbase-dark span.cm-comment {
  color: #579837;
}

  .cm-s-bugbase-dark span.cm-link {
    color: #569CD6;
  }

  .cm-s-bugbase-dark span.cm-atom {
    color: #569CD6;
  }

.cm-s-bugbase-dark span.cm-error {
  color: #BC3F3C;
}

.cm-s-bugbase-dark span.cm-tag {
  color: #629755;
  font-style: italic;
  text-decoration: underline;
}

.cm-s-bugbase-dark span.cm-attribute {
  color: #6897bb;
}

.cm-s-bugbase-dark span.cm-qualifier {
  color: #6A8759;
}

.cm-s-bugbase-dark span.cm-bracket {
  color: #DCDCDC;
}

.cm-s-bugbase-dark span.cm-builtin {
  color: #FF9E59;
}

.cm-s-bugbase-dark span.cm-special {
  color: #FF9E59;
}

  .cm-s-bugbase-dark .CodeMirror-cursor {
    border-left: 1.5px solid #66B9F4;
  }

  .cm-s-bugbase-dark .CodeMirror-activeline-background {
    border: #282828 solid;
    background: #1E1E1E;
    border-width: 2px 1.5px;
  }

  .cm-s-bugbase-dark .CodeMirror-gutters {
    background: #1E1E1E;
    border-right: 1px solid #1E1E1E;
  }

.cm-s-bugbase-dark .CodeMirror-guttermarker {
  color: #FFEE80;
}

  .cm-s-bugbase-dark .CodeMirror-guttermarker-subtle {
    color: #c6c6c6;
  }

  .cm-s-bugbase-dark .CodeMirror-linenumber {
    font-size:15px;
    color: #858585;
  }

  .cm-s-bugbase-dark .CodeMirror-activeline .CodeMirror-activeline-gutter .CodeMirror-linenumber {
    color: #c6c6c6;
  }

  .cm-s-bugbase-dark .CodeMirror-matchingbracket {
    background-color: #1E1E1E;
    color: #c6c6c6 !important;
    border: solid 1px #858585;
  }

.cm-s-bugbase-dark div.CodeMirror-selected {
  background: #214283;
}

.CodeMirror-hints.bugbase-dark {
font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
color: #9C9E9E;
background-color: #3B3E3F !important;
}

.CodeMirror-hints.bugbase-dark .CodeMirror-hint-active {
  background-color: #494D4E !important;
  color: #9C9E9E !important;
}
